NEXT_PUBLIC_SUPABASE_URL=https://vaxfjwdcndvchoukvmps.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZheGZqd2RjbmR2Y2hvdWt2bXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MDM2ODIsImV4cCI6MjA5NTA3OTY4Mn0.mj78OZ8PYuzNJfJilIDrnx3hzNObmCvGdLdatIGJbNQ
NEXT_PUBLIC_SITE_URL=https://calma-mente.vercel.app
